<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <div class='row'>
      <div class="col-md-12">
        <h1><span class="glyphicon glyphicon-fire"></span> Destructing Task List</h1>

        <div class="container">
          <h4 class='list-group-item task-title' class="title">Add a Task</h4>

        <form ng-submit="addTodo()" class='list-group-item'>
          <input type="text" class="form-control" placeholder="Task Description" ng-model="todoText" /></input>
          <span>Priority: </span><select ng-model="priorityLevel">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
          </select>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>

        <div class="panel panel-default">
        <div class="panel-heading"><h4>Active Tasks</h4></div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Task Description</th>
                <th>Time Started</th>
                <th>Priority</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tasks in exampleTasks" ng-hide="tasks.destructed || tasks.done">
                <td><input type="checkbox" ng-model="tasks.done" ng-click="markComplete($index)"/></input> <input type="text" ng-model="tasks.name"/></input></td>
                <td><input type="text" ng-model="tasks.timestamp"/></input></td>
                <td><input type="text" ng-model="tasks.priority"/></input> <span class="glyphicon glyphicon-remove-circle" ng-click="removeTask($index)"></span> <span class="glyphicon glyphicon-time" ng-click="destroyTask()"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>

  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
